
:root{
    --dark-color: #212122;
    --green-color: #a5e229;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: column;
    font-size: 1.125rem;
    font-family: Helvetica, sans-serif;
    background-color: #e9f3de;
}
.nav-bar{ 
    max-height: 12em;
    overflow-y: scroll;
}
.nav-bar ul{
    padding: 0;
}

.nav-bar h1{
    text-align: center;
}
.nav-bar a{
    display: block;
    text-decoration: none;
    color: var(--dark-color);
}
.nav-bar a:focus,
.nav-bar a:hover{
    transition: ease-in 400ms;
    background-color: #d3ebc0;
}
.nav-bar li{
    width: 100%;
    color: #3b3a3a;
    border-top: 2px solid rgba(104, 116, 128, 0.63);
}
.nav-link{
    padding: 0.7em 1.2em;
    cursor: pointer;
    font-family: Helvetica, monospace;
}
.doc-element h3,
.doc-element h4,
.doc-element h5,
.main header{
    color: #2e3a10;
}
.doc-element ul{
    max-width: 30ch;
    background-color: #dcedf1;
    border-left: 4px solid #374e6b;
    border-radius: 10px;
}
.main code{
    font-family: Calibri, serif;
    font-weight: 600;
    background-color: #ebd8f1;
    border-radius: 5px;
    padding: 0 0.2rem;
}
.main-doc{
    padding-left: 0.5em;
}
.main-doc .doc-element{
    padding-left: 2em;
}
.main-doc .doc-element li,
.main-doc .doc-element p{
    color: #3b3a3a;
}
.doc-element a{
    text-decoration: none;
    color: #2d7e15;
}
.doc-element a:hover{
    text-decoration: underline;
}

@media (min-width: 600px){
    .doc-element ul{
        min-width: 40ch;
    }
}
@media (min-width: 900px){
    .main{
        flex-direction: row;
        font-size: 1.20rem;
    }
    .nav-bar{
        min-width: 12em;
        height: 100%;
        max-height: 100%;
        position: fixed;
        border-right: solid;
        border-color: rgba(112, 128, 144, 0.486);
        overflow-y: visible;
    }
    .main-doc{
        margin-left: 12em;
    }
    .doc-element ul{
        max-width: 80%;
    }

}